[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
flake8 = "*"

[packages]
requests = "*"
python-telegram-bot = "*"
arrow = "*"
python-dateutil = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
